azure-storage-blob
charset-normalizer
click
fsspec
httpx
llama-index-embeddings-nvidia
openai
pydantic
pymilvus
pymilvus[bulk_writer,model]
pypdfium2
python-docx
python-magic
python-pptx
redis
requests
setuptools
tqdm
