charset-normalizer
pydantic==1.10.14
python-magic
redis~=5.0.1
setuptools
click
pypdfium2
python-docx
python-pptx==0.6.23
tqdm
httpx==0.27.2
requests
fsspec
pymilvus==2.4.9
pymilvus[bulk_writer,model]
azure-storage-blob==12.24.0
llama-index-embeddings-nvidia==0.1.5
openai==1.40.6
