apiVersion: apps.nvidia.com/v1alpha1
kind: NIMService
metadata:
  name: llama-31-nemotron-nano-vl-8b-v1
spec:
  image:
    repository: nvcr.io/nim/nvidia/llama-3.1-nemotron-nano-vl-8b-v1
    tag: latest
    pullPolicy: IfNotPresent
    pullSecrets:
      - ngc-secret
  authSecret: ngc-api-secret
  storage:
    nimCache:
      name: llama-3.1-nemotron-nano-vl-8b-v1
      profile: ''
  replicas: 1
  resources:
    limits:
      nvidia.com/gpu: 1
  expose:
    service:
      type: ClusterIP
      port: 8000
