# Documentation and examples
docs/                    @NVIDIA/nv-ingest-docs
README.md                @NVIDIA/nv-ingest-docs
examples/                @NVIDIA/nv-ingest-docs

# Devops
.devcontainer/           @NVIDIA-nv-ingest-ops
.github/                 @NVIDIA/nv-ingest-ops
.ci/                     @NVIDIA/nv-ingest-ops

# Global owners (required for all PRs)
*                        @NVIDIA/nv-ingest-maintainers
