# Put new items at the bottom of this list!!!

# Created by https://www.gitignore.io/api/vim,c++,cmake,python,synology

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

### Synology ###
# Thumbnails
@eaDir
# Recycle bin
\#recycle

### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim

# Temporary
.netrwhist
*~
# Auto-generated tag files
tags
# Persistent undo
[._]*.un~


# End of https://www.gitignore.io/api/vim,c++,cmake,python,synology

./build
.conda-bld
.Dockerfile
.tmp
*.dirlock
*.engine
*.lock
/build*/
/conda-build/
dask-worker-space
data/*
docs/source/_lib
docs/source/_modules
mlruns/*
notebooks/output
triton_models/**/*.engine
triton_models/**/*.onnx
triton_models/**/*.plan
triton_models/cached
triton_models/deplot
triton_models/paddle

# Explicitly ignore .vscode/
.vscode/

# Ignore user-defined clangd settings
.clangd


# Ignore saved benchmark data
tests/benchmarks/.benchmarks/

helm/charts/*

# Ignore output from common examples
processed_docs

# Ignore devcontainer volumes
.volumes

# Ignore conda build output
conda/output_conda_channel

# Ignore generate docs site
docs/site

# Ignore "private_local" scripts that users might have in their local copy of nv-ingest they don't want to commit
scripts/private_local/*

# Test results should go to artifacts directory managed by run.py
test_results/
scripts/tests/artifacts/

# Ignore cursor rules
.cursor
scripts/tests/sweep_results/

# Ignore local Helm override files (env-specific)
helm/overrides/*
