aiohttp==3.9.4
charset-normalizer
click
dataclasses
farm-haystack[ocr,inference,pdf,preprocessing,file-conversion]
fastparquet==2024.2.0
fsspec
minio~=7.2.5
more_itertools
nltk==3.9.1
openai==1.40.6
olefile==0.47
onnx==1.16.0
opencv-python==4.10.0.84
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas~=1.5.3
pydantic==1.10.14
pyinstrument
pypdfium2
python-docx
python-pptx==0.6.23
redis~=5.0.1
setuptools==70.0.0
tabulate
torchvision==0.18.0
unstructured-client==0.23.3
