aiohttp==3.10.11
charset-normalizer
click
opencv-python
dataclasses
farm-haystack[ocr,inference,pdf,preprocessing,file-conversion]
fastapi==0.109.1
fastparquet==2024.2.0
fsspec
gunicorn==22.0.0
grpcio==1.63.0
minio~=7.2.5
more_itertools
nltk==3.9.1
numpy
olefile==0.47
openai==1.40.6
onnx==1.17.0
opencv-python==4.10.0.84
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-sdk
pandas~=1.5.3
pydantic==1.10.14
pyinstrument
pypdfium2
python-docx
python-multipart
python-pptx==0.6.23
redis~=5.0.1
setuptools==70.0.0
tabulate
torchvision==0.18.0
unstructured-client==0.23.3
uvicorn==0.24.0-post.1
Wand==0.6.13
