aiohttp
charset-normalizer
click
opencv-python
dataclasses
farm-haystack[ocr,inference,pdf,preprocessing,file-conversion]
fastapi
fastparquet
fsspec
gunicorn
grpcio
minio
more_itertools
nltk
numpy
olefile
openai
onnx
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-instrumentation
opentelemetry-sdk
pandas
pydantic
pyinstrument
pypdfium2
python-docx
python-multipart
python-pptx
redis
setuptools
tabulate
torchvision
unstructured-client
uvicorn
s3fs
Wand
httpx
