{{- if .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: llama-32-nv-rerankqa-1b-v2
spec:
  replicas: {{ .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.replicas }}
  selector:
    matchLabels:
      app: llama-32-nv-rerankqa-1b-v2
  template:
    metadata:
      labels:
        app: llama-32-nv-rerankqa-1b-v2
    spec:
      {{- if .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.image.pullSecrets }}
      imagePullSecrets:
      {{- range .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.image.pullSecrets }}
        - name: {{ . }}
      {{- end }}
      {{- end }}
      {{- if .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.nodeSelector | indent 8 }}
      {{- end }}
      {{- if .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.tolerations }}
      tolerations:
{{ toYaml .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.tolerations | indent 8 }}
      {{- end }}
      containers:
        - name: llama-32-nv-rerankqa-1b-v2
          image: "{{ .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.image.repository }}:{{ .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.image.tag }}"
          imagePullPolicy: {{ .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ default 8000 .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.expose.service.port }}
            - name: grpc
              containerPort: {{ default 8001 .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.expose.service.grpcPort }}
          {{- if .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.env }}
          env:
{{ toYaml .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.env | indent 12 }}
          {{- end }}
          {{- if .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.resources }}
          resources:
{{ toYaml .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.resources | indent 12 }}
          {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: llama-32-nv-rerankqa-1b-v2
spec:
  type: {{ default "ClusterIP" .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.expose.service.type }}
  selector:
    app: llama-32-nv-rerankqa-1b-v2
  ports:
    - name: http
      port: {{ default 8000 .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.expose.service.port }}
      targetPort: {{ default 8000 .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.expose.service.port }}
    - name: grpc
      port: {{ default 8001 .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.expose.service.grpcPort }}
      targetPort: {{ default 8001 .Values.nimOperator.llama_3_2_nv_rerankqa_1b_v2.expose.service.grpcPort }}
{{- end }}
