{{- if .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.enabled }}
apiVersion: apps.nvidia.com/v1alpha1
kind: NIMCache
metadata:
  name: llama-3.1-nemotron-nano-vl-8b-v1
spec:
  source:
    ngc:
      modelPuller: "{{ .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.image.repository }}:{{ .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.image.tag }}"
      pullSecret: "{{ index .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.image.pullSecrets 0 }}"
      authSecret: {{ .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.authSecret }}
  storage:
    pvc:
      create: {{ .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.storage.pvc.create }}
      storageClass: {{ .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.storage.pvc.storageClass }}
      size: {{ .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.storage.pvc.size }}
      volumeAccessMode: {{ .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.storage.pvc.volumeAccessMode }}
  resources: {{ toYaml .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.resources | nindent 4 }}
---
apiVersion: apps.nvidia.com/v1alpha1
kind: NIMService
metadata:
  name: llama-31-nemotron-nano-vl-8b-v1
spec:
  image:
    repository: {{ .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.image.repository }}
    tag: {{ .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.image.tag }}
    pullPolicy: IfNotPresent
    pullSecrets:
{{ toYaml .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.image.pullSecrets | nindent 6 }}
  authSecret: {{ .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.authSecret }}
  storage:
    nimCache:
      name: llama-3.1-nemotron-nano-vl-8b-v1
  replicas: {{ .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.replicas }}
  resources:
{{ toYaml .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.resources | nindent 4 }}
  tolerations:
{{ toYaml .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.tolerations | nindent 4 }}
  expose:
{{ toYaml .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.expose | nindent 4 }}
  env:
{{ toYaml .Values.nimOperator.llama_3_1_nemotron_nano_vl_8b_v1.env | nindent 4 }}
{{- end }}
