apiVersion: apps.nvidia.com/v1alpha1
kind: NIMCache
metadata:
  name: nemoretriever-table-structure-v1
spec:
  source:
    ngc:
      modelPuller: "{{ .Values.nimOperator.table_structure.image.repository }}:{{ .Values.nimOperator.table_structure.image.tag }}"
      pullSecret: "{{ index .Values.nimOperator.table_structure.image.pullSecrets 0 }}"
      authSecret: {{ .Values.nimOperator.table_structure.authSecret }}
  storage:
    pvc:
      create: true
      # You should use the appropriate storage class for your cluster
      storageClass: {{ .Values.nimOperator.nimCache.pvc.storageClass | default "standard" }}
      size: "25Gi"
      volumeAccessMode: ReadWriteMany
  resources: {}
  ---
apiVersion: apps.nvidia.com/v1alpha1
kind: NIMService
metadata:
  name: nemoretriever-table-structure-v1
spec:
  image:
    repository: nvcr.io/nim/nvidia/nemoretriever-table-structure-v1
    tag: 1.5.0
    pullPolicy: IfNotPresent
    pullSecrets:
      - ngc-secret
  authSecret: ngc-api-secret
  storage:
    nimCache:
      name: nemoretriever-table-structure-v1
      profile: ''
  replicas: 1
  nodeSelector:
    nvidia.com/mig.config: all-1g.23gb
  resources:
    limits:
      nvidia.com/gpu: 1
  tolerations:
    - key: "nvidia.com/mig"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"
    - key: nvidia.com/gpu
      operator: Exists
      effect: NoSchedule
  expose:
    service:
      type: ClusterIP
      port: 8000
      grpcPort: 8001
  env:
    - name: NIM_HTTP_API_PORT
      value: "8000"
    - name: NIM_TRITON_LOG_VERBOSE
      value: "1"
    - name: NIM_TRITON_RATE_LIMIT
      value: "3"
    - name: NIM_TRITON_MAX_BATCH_SIZE
      value: "32"
    - name: NIM_TRITON_CUDA_MEMORY_POOL_MB
      value: "3072"
    - name: OMP_NUM_THREADS
      value: "8"
