apiVersion: apps.nvidia.com/v1alpha1
kind: NIMCache
metadata:
  name: nemoretriever-ocr-v1
spec:
  source:
    ngc:
      modelPuller: nvcr.io/nvidia/nemo-microservices/nemoretriever-ocr-v1:1.1.0
      pullSecret: ngc-secret
      authSecret: ngc-api-secret
  storage:
    pvc:
      create: true
      # You should use the appropriate storage class for your cluster
      storageClass: standard
      size: "25Gi"
      volumeAccessMode: ReadWriteMany
  resources: {}
