apiVersion: apps.nvidia.com/v1alpha1
kind: NIMCache
metadata:
  name: nemoretriever-graphic-elements-v1
spec:
  source:
    ngc:
      modelPuller: nvcr.io/nim/nvidia/nemoretriever-graphic-elements-v1:1.5.0
      pullSecret: ngc-secret
      authSecret: ngc-api-secret
  storage:
    pvc:
      create: true
      # You should use the appropriate storage class for your cluster
      storageClass: standard
      size: "25Gi"
      volumeAccessMode: ReadWriteMany
  resources: {}
