apiVersion: apps.nvidia.com/v1alpha1
kind: NIMCache
metadata:
  name: paddleocr
spec:
  source:
    ngc:
      modelPuller: nvcr.io/nim/baidu/paddleocr:1.5.0
      pullSecret: ngc-secret
      authSecret: ngc-api-secret
  storage:
    pvc:
      create: true
      # You should use the storage class that is available in your cluster
      storageClass: standard
      size: "25Gi"
      volumeAccessMode: ReadWriteMany
  resources: {}
