numpy==2.3.5
scipy==1.16.3
transformers==4.57.3
pydantic==2.12.5
pydantic-settings==2.12.0
grpcio==1.76.0
nvidia-riva-client==2.23.0
torch==2.9.1
prometheus-client==0.23.1
opentelemetry-api==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
deepmultilingualpunctuation==1.0.1
webrtcvad==2.0.10
tritonclient[grpc]==2.63.0
