apiVersion: v2
name: nv-ingest
description: NV-Ingest Microservice
type: application
version: 26.1.2
maintainers:
  - name: NVIDIA Corporation
    url: https://www.nvidia.com/
dependencies:
  - name: milvus
    repository: https://zilliztech.github.io/milvus-helm
    version: 4.1.11
    condition: milvusDeployed

  - name: redis
    repository: oci://registry-1.docker.io/bitnamicharts
    tags:
      - redis
    version: 19.1.3
    condition: redisDeployed

  - name: zipkin
    repository: https://zipkin.io/zipkin-helm
    version: 0.4.0
    condition: zipkinDeployed

  - name: opentelemetry-collector
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    version: 0.133.0
    condition: otelDeployed

  - name: prometheus
    repository: https://prometheus-community.github.io/helm-charts
    version: 27.12.1
    condition: prometheus.enabled
