apiVersion: v2
name: nv-ingest
description: NV-Ingest Microservice
type: application
version: 0.4.0
maintainers:
  - name: NVIDIA Corporation
    url: https://www.nvidia.com/
dependencies:
  - name: common
    repository: oci://registry-1.docker.io/bitnamicharts
    tags:
      - bitnami-common
    version: 2.x.x
  - name: redis
    repository: oci://registry-1.docker.io/bitnamicharts
    tags:
      - redis
    version: 19.1.3
    condition: redisDeployed
  - name: zipkin
    repository: https://zipkin.io/zipkin-helm
    version: 0.1.2
    condition: zipkinDeployed
  - name: opentelemetry-collector
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    version: 0.78.1
    condition: otelDeployed
  - name: nvidia-nim-nemoretriever-graphic-elements-v1
    repository: "alias:nemo-microservices"
    version: 1.2.0
    condition: yoloxDeployed
  - name: cached-nim
    repository: "alias:nemo-microservices"
    version: 0.2.0
    condition: cachedDeployed
  - name: paddleocr-nim
    repository: "alias:nemo-microservices"
    version: 0.2.0
    condition: paddleocrDeployed
  - name: deplot-nim
    repository: "alias:nemo-microservices"
    version: 0.1.12
    condition: deplotDeployed
  - name: text-embedding-nim
    repository: "alias:nvidia-nim"
    version: 1.1.0
    condition: embedqaDeployed
  - name: nvidia-nim-llama-32-nv-embedqa-1b-v2
    repository: "alias:nvidia-nim"
    version: 1.3.0
    condition: nvEmbedqaDeployed
  - name: milvus
    repository: https://zilliztech.github.io/milvus-helm
    version: 4.1.11
    condition: milvusDeployed
