apiVersion: v2
name: nv-ingest
description: NV-Ingest Microservice
type: application
version: 25.3.0
maintainers:
  - name: NVIDIA Corporation
    url: https://www.nvidia.com/
dependencies:
  # Yolox based architecture variant NIM for extracting Page Elements
  - name: nvidia-nim-nemoretriever-page-elements-v2
    repository: "alias:nvidia-nim"
    version: 1.2.0
    alias: nemoretriever-page-elements-v2
    condition: nemoretriever-page-elements-v2.deployed

  # Yolox based architecture variant NIM for extracting Graphic Elements from images
  - name: nvidia-nim-nemoretriever-graphic-elements-v1
    repository: "alias:nvidia-nim"
    version: 1.2.0
    alias: nemoretriever-graphic-elements-v1
    condition: nemoretriever-graphic-elements-v1.deployed

  # Yolox based architecture variant NIM for extracting Table Structures from images
  - name: nvidia-nim-nemoretriever-table-structure-v1
    repository: "alias:nvidia-nim"
    version: 1.2.0
    alias: nemoretriever-table-structure-v1
    condition: nemoretriever-table-structure-v1.deployed

  # # VLM for image captioning.
  # # This same chart can power several different underlying VLM models. Configure in values.yaml
  # - name: nim-vlm
  #   repository: "alias:nvidia-nim"
  #   version: 1.2.0-ea-v2
  #   alias: nim-vlm-image-captioning
  #   condition: nim-vlm-image-captioning.deployed

  # VLM for text extraction. Same helm chart as image captioning VLM with different NIM engine; eclair vs llama vision
  - name: nim-vlm
    repository: "alias:nemo-microservices"
    version: 1.2.0-ea-v2
    alias: nim-vlm-text-extraction
    condition: nim-vlm-text-extraction.deployed

  # PaddleOCR NIM
  - name: nvidia-nim-paddleocr
    repository: "alias:baidu-nim"
    version: 1.2.0
    alias: paddleocr-nim
    condition: paddleocr-nim.deployed

  # nv-embedqa-e5-v5 NIM. Note only text-embedding-nim OR nvidia-nim-llama-32-nv-embedqa-1b-v2 can be deployed at the same time but not both
  - name: nvidia-nim-nv-embedqa-e5-v5
    repository: "alias:nvidia-nim"
    version: 1.5.0
    alias: text-embedding-nim
    condition: text-embedding-nim.deployed

  # nvidia-nim-llama-32-nv-embedqa-1b-v2 NIM. Note only text-embedding-nim OR nvidia-nim-llama-32-nv-embedqa-1b-v2 can be deployed at the same time but not both
  - name: nvidia-nim-llama-32-nv-embedqa-1b-v2
    repository: "alias:nvidia-nim"
    version: 1.5.0
    condition: nvidia-nim-llama-32-nv-embedqa-1b-v2.deployed

  # Nvidia llama-32-nv-rerankqa-1b-v2 reranking NIM
  # - name: nvidia-nim-llama-32-nv-rerankqa-1b-v2
  #   repository: "alias:nemo-microservices"
  #   version: 1.3.0
  #   alias: llama-32-nv-rerankqa-1b-v2
  #   condition: llama-32-nv-rerankqa-1b-v2.deployed

  - name: riva-nim
    repository: "alias:nvidia-nim"
    version: 1.0.0
    condition: riva-nim.deployed

  - name: milvus
    repository: https://zilliztech.github.io/milvus-helm
    version: 4.1.11
    condition: milvusDeployed

  - name: redis
    repository: oci://registry-1.docker.io/bitnamicharts
    tags:
      - redis
    version: 19.1.3
    condition: redisDeployed

  - name: zipkin
    repository: https://zipkin.io/zipkin-helm
    version: 0.1.2
    condition: zipkinDeployed

  - name: opentelemetry-collector
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    version: 0.78.1
    condition: otelDeployed
