site_name: NeMo Retriever Documentation
site_url: https://docs.nvidia.com/nemo/retriever/

repo_name: NVIDIA/nv-ingest
repo_url: https://github.com/NVIDIA/nv-ingest/

theme:
  name: material
  custom_dir: overrides
  features:
    - content.code.annotate
    - navigation.tabs
    - navigation.indexes
    - navigation.instant
    - navigation.path
    - navigation.instant.prefetch
    - navigation.top
    - navigation.footer
    - navigation.expand
    - search.suggest
    - search.highlight
    - content.code.copy
  font:
    code: Roboto Mono
  favicon: assets/images/favicon.png
  language: en
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: light
      primary: custom
      accent: lime
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: dark
      primary: custom
      accent: lime
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  icon:
    logo: nvidia/nvidia-logo
    repo: fontawesome/brands/github

extra_css:
  - assets/css/color-schemes.css
  - assets/css/fonts.css
  - assets/css/custom-material.css
  - assets/css/jupyter-themes.css
#  - assets/css/chatbot.css

# extra_javascript:
#   - assets/js/chatbot.js


nav:
  - NeMo Retriever: 
    - Overview: 
      - Overview: index.md
    - NeMo Retriever Extraction:
      - Overview: extraction/overview.md
      - Release Notes: extraction/releasenotes-nv-ingest.md
      - Get Started:
        - Prerequisites: extraction/prerequisites.md
        - Support Matrix: extraction/support-matrix.md
        - Deploy (Library Mode): extraction/quickstart-library-mode.md
        - Deploy (Self-Hosted): extraction/quickstart-guide.md
        - Deploy (Helm Chart): extraction/helm.md
      - Developer Guide:
        - Notebooks: extraction/notebooks.md
        - Use the CLI: extraction/nv-ingest_cli.md
        - Use the API: extraction/nv-ingest-python-api.md
        - V2 API Guide: extraction/v2-api-guide.md
        - Split Documents: extraction/chunking.md
        - Upload Data: extraction/data-store.md
        - Filter Search Results: extraction/custom-metadata.md
        - Use NeMo Retriever Parse: extraction/nemoretriever-parse.md
        - Use RIVA Audio Processing: extraction/audio.md
        - Use Multimodal Embedding: extraction/vlm-embed.md
        - Configure Ray Logging: extraction/ray-logging.md
        - Telemetry: extraction/telemetry.md
      - Customize Your Pipeline:
        - Add User-defined Stages: extraction/user-defined-stages.md
      - Benchmarking:
        - Overview: extraction/benchmarking.md
        - Benchmarking with MIG on Helm: extraction/mig-benchmarking.md
      - Reference:
        - Generate Your NGC Keys: extraction/ngc-api-key.md
        - Content Metadata: extraction/content-metadata.md
        - Environment Variables: extraction/environment-config.md
        - API Reference: extraction/api-docs
      - Troubleshoot: extraction/troubleshoot.md
      - FAQ: extraction/faq.md
      - Contribute: extraction/contributing.md


plugins:
  - search
  # uncomment below to grab api
  # - gen-files:
  #     scripts:
  #       - scripts/gen_ref_pages.py
  - macros
  - mike:
      alias_type: copy
      canonical_version: "latest"
      version_selector: true
      css_dir: assets/css
      javascript_dir: assets/js
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: true
            show_if_no_docstring: true
          paths:
            - ../api/*/src/nv_ingest_api
  - mkdocs-jupyter:
      theme: auto
      highlight_extra_classes: "jupyter-notebook"
  - include_dir_to_nav:
      file_pattern: '.*\.(md|ipynb)$'
  - redirects:
      redirect_maps:
        'extraction/index.md': 'extraction/overview.md'
  - site-urls

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.snippets:
      check_paths: true
      restrict_base_path: False
      base_path: "."
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - def_list
  - admonition
  - footnotes

extra:
   version:
     provider: mike
     default: latest
     alias: true
   social:
     - icon: fontawesome/brands/github
       link: https://github.com/NVIDIA/nv-ingest/
#   docker_url: nvcr.io/nvidia/clara/bionemo-framework
#   docker_tag: main--nightly
#   github_url: https://github.com/NVIDIA/nv-ingest/

copyright: |
  &copy; Copyright 2023-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
