autodoc_pydantic
make
mike
mkdocs
mkdocs-gen-files
mkdocs-include-dir-to-nav
mkdocs-jupyter
mkdocs-literate-nav
mkdocs-macros-plugin
mkdocs-material
mkdocs-minify-plugin
mkdocs-redirects
mkdocs-site-urls
mkdocstrings[python]
myst-parser
nvidia-sphinx-theme
pymdown-extensions
sphinx
sphinx-markdown-builder
sphinx-rtd-theme
swagger-plugin-for-sphinx
