name: Build NV-Ingest Documentation

# Trigger for pull requests and pushing to main
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - main

jobs:
  build:
    runs-on: linux-large-disk
    container:
      image: python:3.11-slim
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install system deps
        run: |
          apt-get update && apt-get install -y make git

      # Install dependencies from docs/requirements.txt
      - name: Install mkdocs dependencies
        run: |
          pip install -r docs/requirements.txt

      # - name: Build Sphinx API Docs
      #   run: |
      #     cd docs/sphinx_docs
      #     make html
      #     cd ../../
      #     mv docs/sphinx_docs/build/html docs/docs/user-guide/api_docs

      - name: Build MkDocs Site
        run: mkdocs build --config-file docs/mkdocs.yml

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
