name: Build NV-Ingest Runtime Image

# Trigger for pull requests and pushing to main
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: linux-large-disk

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get current date (yyyy.mm.dd)
        run: echo "CURRENT_DATE=$(date +'%Y.%m.%d')" >> $GITHUB_ENV

      # Set up Docker Buildx, useful for building multi-platform images
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Build the Docker image using the Dockerfile
      - name: Build Docker image
        run: |
          docker build --target runtime --build-arg GIT_COMMIT=${GITHUB_SHA} -t nv-ingest:latest .

      - name: Run Pytest inside Docker container
        run: |
          docker run nv-ingest:latest pytest -rs -m "not integration" --cov nv_ingest --cov nv_ingest_client --cov nv_ingest_api --cov-report term --cov-report xml:coverage.xml tests/service_tests client/client_tests api/api_tests

      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: pytest-report
          path: coverage.xml
