name: Test Nv-Ingest Library Mode

on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      # Adding 'labeled' to the list of activity types that trigger this event
      # (default: opened, synchronize, reopened) so that we can run this
      # workflow when the 'ok-to-test' label is added.
      # Reference: https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request_target
      - labeled
  push:
    branches:
      - main

jobs:
  build:
    runs-on: linux-large-disk
    container:
      image: rapidsai/ci-conda:cuda12.5.1-ubuntu22.04-py3.12
    steps:
      - name: Check access
        if:
          ${{
            github.event_name == 'pull_request_target' &&
            github.event.pull_request.author_association != 'MEMBER' &&
            github.event.pull_request.author_association != 'COLLABORATOR' &&
            github.event.pull_request.author_association != 'OWNER' &&
            !contains(github.event.pull_request.labels.*.name, 'ok-to-test')
          }}
        run: |
          echo "Pull request author is not a collaborator or owner. Add the 'ok-to-test' label to allow tests to run."
          exit 1

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # For pull_request_target, checkout the PR head SHA.
          # For push, checkout the pushed commit SHA.
          ref: ${{ github.event_name == 'pull_request_target' && github.event.pull_request.head.sha || github.sha }}

      - name: Build Conda Packages
        run: |
          ./conda/build_conda_packages.sh

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: test_artifacts
          path: |
            ./conda/output_conda_channel
            ./config
            ./data
            ./examples
            ./tests/integration
          retention-days: 1

  test:
    runs-on: ubuntu-latest
    needs: build
    timeout-minutes: 60
    steps:
      - name: Check access
        if:
          ${{
            github.event_name == 'pull_request_target' &&
            github.event.pull_request.author_association != 'MEMBER' &&
            github.event.pull_request.author_association != 'COLLABORATOR' &&
            github.event.pull_request.author_association != 'OWNER' &&
            !contains(github.event.pull_request.labels.*.name, 'ok-to-test')
          }}
        run: |
          echo "Pull request author is not a collaborator or owner. Add the 'ok-to-test' label to allow tests to run."
          exit 1

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: test_artifacts # Match the upload name

      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true

      - name: Install Conda Packages & Dependencies
        shell: bash -el {0}
        run: |
          conda create -y --name nvingest python=3.12.11
          conda activate nvingest
          # Install from the downloaded local channel first
          conda install -y -c ./conda/output_conda_channel -c rapidsai -c conda-forge -c nvidia nv_ingest nv_ingest_api nv_ingest_client
          # Install other dependencies
          conda install -y -c conda-forge librosa
          # Install pip dependencies
          $CONDA/envs/nvingest/bin/python -m pip install opencv-python llama-index-embeddings-nvidia pymilvus 'pymilvus[bulk_writer, model]' 'milvus-lite==2.4.12' 'nvidia-riva-client==2.20.0' unstructured-client tritonclient markitdown glom

      - name: Run integration test
        env:
          AUDIO_FUNCTION_ID: ${{ secrets.AUDIO_FUNCTION_ID }}
          AUDIO_INFER_PROTOCOL: http
          EMBEDDING_NIM_MODEL_NAME: ${{ secrets.EMBEDDING_NIM_MODEL_NAME }}
          NEMORETRIEVER_PARSE_MODEL_NAME: ${{ secrets.NEMORETRIEVER_PARSE_MODEL_NAME }}
          NGC_API_KEY: ${{ secrets.NVIDIA_API_KEY }}
          NVIDIA_API_KEY: ${{ secrets.NVIDIA_API_KEY }}
          OCR_HTTP_ENDPOINT: ${{ secrets.PADDLE_HTTP_ENDPOINT }}
          OCR_INFER_PROTOCOL: http
          VLM_CAPTION_ENDPOINT: ${{ secrets.VLM_CAPTION_ENDPOINT }}
          VLM_CAPTION_MODEL_NAME: ${{ secrets.VLM_CAPTION_MODEL_NAME }}
          YOLOX_GRAPHIC_ELEMENTS_HTTP_ENDPOINT: ${{ secrets.YOLOX_GRAPHIC_ELEMENTS_HTTP_ENDPOINT }}
          YOLOX_GRAPHIC_ELEMENTS_INFER_PROTOCOL: http
          YOLOX_HTTP_ENDPOINT: ${{ secrets.YOLOX_HTTP_ENDPOINT }}
          YOLOX_INFER_PROTOCOL: http
          YOLOX_TABLE_STRUCTURE_HTTP_ENDPOINT: ${{ secrets.YOLOX_TABLE_STRUCTURE_HTTP_ENDPOINT }}
          YOLOX_TABLE_STRUCTURE_INFER_PROTOCOL: http
          NV_INGEST_PIPELINE_CONFIG_PATH: ./config/default_pipeline.yaml
        shell: bash -el {0}
        run: |
          echo 'Running tests...'
          unset LD_LIBRARY_PATH  # https://github.com/pytorch/pytorch/issues/111469
          $CONDA/envs/nvingest/bin/python -m pytest -rsx tests/integration
